.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 1);
  /*box-shadow: 0 0 5px #bbb;*/
  padding-left:  5px;
  padding-right: 5px;
  margin:5px;
  color: #333;
  font-size: large;
  border-radius: 5px;
  /*font: 21px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;*/
}

